#tablero {
    width: 100%;
    height: 300px;
    border: 2px solid black;
    margin-top: 20px;
}
.ficha {
    width: 60px;
    height: 120px;
    border: 2px solid black;
    border-radius: 6px;
    background: white;
    display: inline-block;
    margin: 10px;
}
.punto {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    position: absolute;
}
.ficha {
    position: relative;
}
